body{
    background: rgb(109,54,181);
    background: linear-gradient(90deg, rgba(109,54,181,1) 0%, rgba(109,54,181,1) 35%, rgba(56,78,255,1) 100%);
    overflow-x: hidden;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3425A9;
    border-radius: 25px;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 25));
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 50px;
    text-decoration: none;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 25));
    
}

#titre{
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
}

#titre2{
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.header{
    position: relative;
    top: 50px;
}

#test{
    position: absolute;
    width: 20%;
    left: 5%;
    top: 10%;
border-radius: 256px;
}

#test2{
    position: absolute;
    width: 20%;
    left: 77%;
    top: -20%;
    border-radius: 256px;
}

#test3{
    position: absolute;
    left: 15%;
    top: 105%;

}
#test4{
    position: absolute;
    width: 20%;
    left: 80%;
    top: 90%;
border-radius: 256px;
}

#arouf{
    position: relative;
    top: 50vh;
}

#projet{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

#projet2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
}

#scro{
    margin-bottom: 50px;
    margin-left: 90%;

}

.button {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}


#thumb{
    background-color: #3425A9;
    border-radius: 20px;
    width: auto;
    padding: 20px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.work{

    background-color: #3425A9;
    padding: 10px 30px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 25));
}

.work:hover{

    background-color: #3425A9;
    padding: 10px 30px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 25));
    opacity: 0.65;
    transition: 500ms ease-in-out;
}


#sqd{
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 25));
}

.work2{
    position: relative;
    background-color: #3425A9;
    padding: 20px 40px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 25));
}

.work2:hover{

    background-color: #3425A9;
    color: white;
    text-decoration: none;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 25));
    opacity: 0.65;
    transition: 500ms ease-in-out;
}
